<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Community</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Our Community</h1>
    <ul>
      <% users.forEach(function(u) { %>
        <li>
          <a href="/users/<%= u._id %>"><%= u.username %></a>
        </li>
      <% }); %>
    </ul>
    <a href="/">Back Home</a>
  </body>
</html>
